package:
  name: powershell_shortcut
  version: 0.0.1

build:
  number: 3

app:
  entry:
    start powershell.exe -ExecutionPolicy ByPass -NoExit -Command  "& '{CONDA_ROOT_PREFIX}\\shell\\condabin\\conda-hook.ps1' ; conda activate '{CONDA_PREFIX}'"
  summary: Anaconda Powershell Prompt
  type: desk

requirements:
  run:
    - python
  run_constrained:
    - anaconda-navigator >=1.9.8

about:
  license: BSD
  summary: Powershell shortcut creator for Windows (using menuinst)
